---
import type { GetStaticPathsOptions } from 'astro'

import Base from '@src/layouts/Base.astro'
import TagList from '@src/components/blog/Tags.astro'
import BlogLoop from '@src/components/blog/Loop.astro'
import Pagination from '@src/components/Pagination.astro'

import { SITE } from '@src/consts'
import { getAllPosts } from '@src/utils/blog'

export async function getStaticPaths (
	{ paginate }: GetStaticPathsOptions
) {
  const posts = await getAllPosts()

	return paginate(posts, {
		pageSize: SITE.PER_PAGE
	})
}

const { page } = Astro.props
const posts = page.data
const title = 'Blog'
const description = 'An example blog.'
---

<Base {title} {description}>
	<header slot="before-breadcrumbs"><h1>{title}</h1></header>
	<BlogLoop {posts} />
  <TagList />
	<Pagination {page} />
</Base>

<style>
	header {
		padding: 24px 16px;
	}
	header h1 {
		line-height: 1;
		margin: 0;
	}
</style>
