---
import { SITE } from '@src/consts'
import { permalink } from '@src/utils/permalink'

const now = new Date()
const year = now.getFullYear()
const updated = new Intl.DateTimeFormat(SITE.LOCALE, {
  dateStyle: 'medium',
  timeStyle: 'long',
  hourCycle: 'h23',
  timeZone: SITE.TIMEZONE
})
---

<footer>
	<div>&copy; {year} <a href={permalink.root('')}>{SITE.TITLE}</a>. All rights reserved.</div>
  <div>Built with <a href="https://astro.build">{Astro.generator}</a></div>
  <small>updated: <time datetime={now.toISOString()}>{updated.format(now)}</time></small>
</footer>

<style>
	footer {
		background-image: linear-gradient(transparent, var(--bg-color-mute));
		background-repeat: repeat-x;
		background-size: 100% 100%;
		color: var(--text-color-mid);
		padding: 24px 16px 32px 16px;
	}
	div {
		text-align: center;
	}
  footer > small {
    color: var(--text-color-mute);
    text-align: center;
  }
</style>
