---
import Base from '@src/layouts/Base.astro'
import TagList from '@src/components/blog/Tags.astro'
import BlogLoop from '@src/components/blog/Loop.astro'

import { SITE } from '@src/consts'
import { getAllPosts } from '@src/utils/posts'

const posts = await getAllPosts(SITE.LATEST_POSTS)
---

<Base title={SITE.TITLE} description={SITE.DESCRIPTION}>
	<header slot="before-breadcrumbs">
		<section>
			<h1>{SITE.TITLE}</h1>
			<p>{SITE.DESCRIPTION}</p>
		</section>
	</header>
	<p>
		This template comes with a few integrations already configured in your
		<code>astro.config.ts</code> file. You can customize your setup with
		<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
		React, or Vue to your project.
	</p>
	<p>Here are a few ideas on how to get started with the template:</p>
	<ul>
		<li>Edit this page in <code>src/pages/index.astro</code></li>
		<li>Edit the site navigation items in <code>src/components/layout/Navigation.astro</code></li>
		<li>Add your name/links/socials to the footer in <code>src/components/layout/Footer.astro</code></li>
		<li>Check out the included blog posts in <code>src/content/blog/</code></li>
		<li>Customize the blog post page layout in <code>src/pages/blog/[slug].astro</code></li>
	</ul>
	<p>
		Have fun! If you get stuck, remember to <a href="https://docs.astro.build/">read the docs</a>
    or <a href="https://astro.build/chat">join the Astro Discord</a> to ask questions.
	</p>
	<hr />
	<BlogLoop {posts} title="Latest Posts" />
	<hr />
	<TagList limit={20} title="Popular Tags" />
</Base>

<style>
	header {
		background-color: var(--bg-color-mute);
		padding: 24px 16px;
	}
	header h1 {
		line-height: 1;
		margin: 0 0 .25em 0;
	}
	header p {
		color: var(--text-color-mid);
		font-size: 1.5em;
		line-height: 1;
		margin: 0;
	}
</style>
